@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --color-primary: theme("colors.teal.100");
    --color-secondary: theme("colors.yellow.500");
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



  