@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --color-primary: theme("colors.teal.100");
    --color-secondary: theme("colors.yellow.500");
}

body {
    margin: 0;
    font-family: "Helvetica Neue,Helvetica,Arial,文泉驛正黑,WenQuanYi Zen Hei,Hiragino Sans GB,儷黑 Pro,LiHei Pro,Heiti TC,微軟正黑體,Microsoft JhengHei UI,Microsoft JhengHei,sans-serif";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



  